{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Shopping cart</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope ="col">Product Info</th>
                                    <th scope ="col"></th>
                                    <th scope ="col">Price</th>
                                    <th scope ="col">Qty</th>
                                    <th scope ="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                            <td class="p-3 w-25">
                            <img src="{{ item.product.image.url}}" alt="" class="img-fluid rounded">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU/</p>
                            </td>
                            {% endif %}
                        </table>
                    </div>
                {% else %}
                     <p class="lead mb-5">Your cart is empty</p>
                     <a href="{% url 'products'%}" class="btn btn-outline-black rounded-0 btn-lg">
                         <span class="icon">
                             <i class="fas fa-chevron-left"></i>
                         </span>
                         <span class="text-uppercase">keep shopping</span>
                     </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
{% include 'includes/footer.html' %}
{% endblock %}