<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 All Products <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="women-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="women-link">
                <a href="{% url 'products' %}?category=outwear" class="dropdown-item">Outwear</a>
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=bottoms" class="dropdown-item">Bottoms</a> 
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a> 
                <a href="{% url 'products' %}?category=outwear,dresses,bottoms,tops" class="dropdown-item">All clothing</a>
                
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="men-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="men-link">
                <a href="{% url 'products' %}?category=activewear,essentials" class="dropdown-item">Activewear &amp; Essentials</a>
                <a href="{% url 'products' %}?category=mens-jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=activewear,essentials,mens-jeans,shirts" class="dropdown-item">All Clothing</a>
            </div>
        </li>
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kids-link">
                <a href="{% url 'products' %}?category=boys" class="dropdown-item">Boys
                </a>
                <a href="{% url 'products' %}?category=girls" class="dropdown-item">Girls
                </a>
                <a href="{% url 'products' %}?category=baby" class="dropdown-item">Babies
                </a>
                 <a href="{% url 'products' %}?category=boys,girls,baby" class="dropdown-item">All clothing
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accesories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes &amp; Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accesories-link">
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Women Bags</a>
                <a href="{% url 'products' %}?category=jewelry-and-watches" class="dropdown-item">Jewelry</a>
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=bags,shoes,jewelry-and-watches" class="dropdown-item">All accesories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accesories-link">
                <a href="{% url 'products' %}?category=kitchen_dining" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="{% url 'products' %}?category=bed_bath" class="dropdown-item">Bed &amp; Bath</a>
              
                <a href="{% url 'products' %}?category=bed_bath,kitchen_dining" class="dropdown-item">All homeware</a>
            </div>
        </li>

    </ul>
</div>